.login{
    background-color:#E8E8E8;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginWrapperShip{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.shippingForm{
    height:500px;
    padding:20px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.loginInput{
    width:300px;
    border-radius: 10px;
    border:1px solid gray;
    font-size:20px;
    padding:.5rem;
}

input:focus{
    outline:none;
}
label{
    text-align: start;
    font-weight:500;
}
button:focus{
    outline:none;

}
button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    transition: 0.4s;

    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(48, 25, 52,1);

  }
  button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(48, 25, 52,.6);
    background-color: rgba(52, 52, 52,1);
  }


  .register{
      text-align: left;
      padding:20px;
        font-size: 15px;
  }
  .registerText{
      font-weight:500;
  }