.login{
    width:100vw;
    height:calc(100vh+69px);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginWrapper{
    height:70%;
    padding:3rem;
    justify-content: center;
    margin:0 auto;
}
form{
    height:300px;
    padding:20px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.loginInput{
    height:50px;
    border-radius: 10px;
    border:1px solid gray;
    font-size:20px;
    padding:0 1rem;
    margin-bottom: 20px;
}
input:focus{
    outline:none;
}
label{
    text-align: start;
    font-weight:500;
}
button:focus{
    outline:none;

}
.loginButton {
    margin-top: 20px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    transition: 0.4s;

    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(48, 25, 52,1);

  }
  .loginButton:hover {
    color: white;
    box-shadow: 0 0 20px rgba(48, 25, 52,.6);
    background-color: rgba(52, 52, 52,1);
  }


  .registerDiv{
      text-align: left;
      padding:20px;
        font-size: 15px;
  }
.register{
    margin-top:2rem;
    padding-top: 2rem;
}
  .registerText{
      font-weight:500;
  }