@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:'Lato','Roboto'
}

h1{
  font-size:1.8rem;
  padding:1rem 0;
}
h2{
  font-style: 1.4rem;
  padding:0.5rem 0;
}
main{
  min-height:90vh;
}
